{% extends 'header.html' %}
{% load static %}
    {% block content %}
    <body>
        <main>
            <div class="form-div">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <box-icon name='lock-alt'></box-icon>
                    <br>
                    <b>Trouble logging in?</b>
                    <br>
                    <p>Enter your email and we'll send you <br>a reset link to get back into your account.
                    </p>
                    <br>
                    <input type="email" class="input" placeholder="Phone number or email" name="email" required>
                    <button class="signup-btn" type="submit">Send</button> 
                </form>
                <div class="sign-up">
                    <a href="{% url 'signin' %}" class="sign-link">Back to Login</a>
                </div>
                <br>
                {% if messages %}
                <div>
                {% for message in messages %}
                <p  style="color:red; justify-content: center;">{{message}}</p>
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </main>
    </body>
    {% endblock %}

