{% extends 'feedbase.html' %}
{% block content %}
<body>

    {{post.fk_user.username}}
    <br>
    {% if post.fk_user.profile.image %}
    <a href="{% url 'userprofile' post.fk_user.username %}"><img style="height: 50px; width: 50px; border-radius: 100%;" src="{{post.fk_user.profile.image.url}}" alt=""></a>
    {% else %}
    <p>nil</p>
    {% endif %}
    <br>
    {% if post.image %}
    <img style="height: 300px; width: 300px;" src="{{post.image.url}}" alt="">
    {% else %}
    <p>nil</p>
    {% endif %}
    <br>
    {{post.caption}}
    <br>
    <form method="POST">
        {% csrf_token %}

        <!-- <i class="bi bi-suit-heart-fill"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
        </svg> -->
        
        <button style="background-color: red;" type="submit" name="action2">Like</button>

    </form>
    <a href="">Add to Save</a>
    <br><br>

    <p>{{post.like_count}} likes</p>
    <p>{{post.comment_count}} comments</p>
    {% if post.fk_user == request.user %}
    <a href="{% url 'editpost' id=post.id %}">Edit</a>
    <a href="{% url 'deletepost' id=post.id %}">Delete</a>
    {% endif %}



    <form method="POST">
        {% csrf_token %}
        <br>
        <input type="text" name="comment" placeholder="write a comment">
        <button type="submit" name="action1">Post</button>
    </form>
    <br>


    {% for i in c_data %}
    <br>
    <b>{{i.fk_user.username}}</b>
    <br>
    {{i.comment}}
    <br>
    <i>{{i.created_at}}</i>
    <br>
    {% if i.fk_user == request.user %}
    <a href="{% url 'editcomment' id=i.id %}">Edit</a>
    <a href="{% url 'deletecomment' id=i.id %}">Delete</a>
    <br>
    {% endif %}
    {% endfor %}
   
</body>
{% endblock %}