{% extends 'header.html' %}
{% load static %}
    {% block content %}
    <body>
        <main>
            <div class="form-div">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <box-icon name='lock-alt'></box-icon>
                    <br>
                    <b>Create Strong Password</b>
                    <br>
                    <p>Your password must be at least six characters <br> and should include a combination of numbers,<br> letters and special characters (!$@％)</p>
                    <br>
                    <input type="password" class="input" placeholder="New password" required>
                    <input type="text" class="input" name="password1" placeholder="New password,again">
                    <button class="signup-btn" type="submit">Submit</button>
                </form> 
                <!-- <div class="sign-up">
                    <a href="{% url 'signin' %}" class="sign-link">Back to Login</a>
                </div>     -->
            </div>
        </main>
    </body>
    {% endblock %}

