{% extends 'header.html' %}
    {% load static %}
    {% block content %}
    <body>
        <main>
            <div class="form-div">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br>
                    <box-icon name='lock-alt'></box-icon>
                    <br>
                    <p>Please do re-check your 6-digit code <br> before submitting.</p>
                    <br>
                    <input type="text" name="otp"  class="input" placeholder="Enter your code" required>
                    <button class="signup-btn" type="submit">Send</button> 
                </form>
                <!-- <div class="sign-up">
                    <a href="{% url 'signin' %}" class="sign-link">Back to login</a>
                </div> -->
            </div>
        </main>
    </body>
    {% endblock %}
    